*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    background-color: #111111;
}


.logo {
    position: absolute;
    width: 120px;
    height: auto;
    top: 0px;
    left: -4px;
    padding: -200px 0;
    filter: drop-shadow(0 0 10px #5bcbff)
          drop-shadow(0 0 12px #abadff);
}




.ul{
    position: absolute;
    top: 30px;
    left: 364px;
    font-size: 22px;
}
.ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 0.5px;
    display: inline-block;
    transform: scaleY(1.3);
}
.linha {
    color: white;
    position: absolute;
    left: 3px;
    top: 72px;
    width: 0px;
    height: auto;
    background: linear-gradient(90deg, #c084fc, #22d3ee);
}




.ficha {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 100px;
    left: 240px;
    background: rgba(20, 25, 30, 0.85);
  color: #d7d4ff;
  border: 1px solid #a6a7fc;
  border-radius: 20px;
  padding: 6px 10px;
  font-size: 14px;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea,
select{
  background: transparent;
  color: #ffffff;
  border: 1px solid #91a5ff;
  border-radius: 6px;
  padding: 6px 10px;
  outline: none;
}






.pericias {
        color: white;
        width: 100px;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 188px 31pc;
}

.pericias td {
  padding: 6px 12px;
}

.pericias td:first-child {
  text-align: left;
}

.pericias td:last-child {
  text-align: right;
  font-weight: bold;
}

.num-pericia {
  width: 35px;
  height: 21px;
  font-size: 13px;
  text-align: center;
  
}
.pontos {
    position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 650px;
  top: 218px;
}




.atributos {
    color: white;
    position: absolute;
    left: 80px;
    top: 162px;
    width: 450px;
}

.atr {
    position: relative;
  width: 7px;
  height: 10px;

  
}
.num-atr {
    font-size: 25px;
     text-align: center;
}
.agilidade {
    position: absolute;
    left: 280px;
    top: 208px;
    width: 40px;
    z-index: 10;
}
.forca {
    position: absolute;
    left: 167px;
    top: 285px;
    width: 40px;
    z-index: 10;
}
.intelecto {
    position: absolute;
    left: 397px;
    top: 285px;
    width: 40px;
    z-index: 10;
}
.carisma {
    position: absolute;
    left: 210px;
    top: 423px;
    width: 40px;
    z-index: 10;

}
.vigor {
    position: absolute;
    left: 354px;
    top: 423px;
    width: 40px;
    z-index: 10;

}





.nivel-hunter {
    position: absolute; /* ou relative se quiser dentro da ficha */
    top: 442px; /* ajuste a posição */
    left: -100px; /* ajuste a posição */
    z-index: 10; /* garante que fique acima de outros elementos */
}

.nivel-hunter select {
    width: 47px;
    font-size: 16px;
}
#nivel {
    background-color: #222;
    color: #fff;
    border: 2px solid #555;
    padding: 2px 5px;
    font-size: 16px;
    border-radius: 20px;
    border: #222;
}


.escudao {
  position: absolute;
  top: 26pc;
  left: -6pc;
  width: 100px;
  height: auto;
}


.escudo {
    position: absolute;
    width: 53px;
    height: auto;
    left: 239px;
    top: 10px;
    padding: -200px 0;
}
.defesa {
    position: absolute;
    font-size: 12px;
    left: 210px;
    top: 53px;
filter: drop-shadow(0 0 10px #ffffff)
    drop-shadow(0 0 12px #eb0000);
}
#valordefesa {
    position: absolute;
    left: 251px;
    top: 23px;
    font-size: 20px;
    font-family: arial black;
    color: #ffffff;
    filter: drop-shadow(0 0 10px #ffffff)
    drop-shadow(0 0 12px #ffffff);
}

.hxd {
    position: absolute;
    width: 150px;
    height: auto;
    top: -10px;
    left: -14px;
    color: #ffffff;
    filter: drop-shadow(0 0 10px #9294ff)
    drop-shadow(0 0 12px #ffffff);
}


.vida-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.nomeVida {
  color: white;
  font-size: 18px;
  font-family: Arial;
}

.barra-vida {
  width: 180px;
  height: 35px;
  border: 2px solid #000000;
  background: #222;
}

.vidaAtual {
  height: 100%;
  width: 100%;
  background: red;
  transition: width 0.2s;
  filter: drop-shadow(0 0 10px #ff5b5b)
    drop-shadow(0 0 12px #ffffff);

}

button {
  cursor: pointer;
  font-size: 20px;
  border: 6px;
  background-color: #313131;
}
.vida-container {
    position: absolute;
    top: 37.4pc;
    left: 8.6pc;
}




.sanidade-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 40.7pc;
  left: 6.5pc;
}

.barra-sanidade {
  width: 180px;
  height: 35px;
  border: 2px solid #000;
  background: #222;
}

.sanidade-atual {
  height: 100%;
  width: 100%;
  background: rgb(0, 153, 255);
  transition: width 0.2s ease;
  filter: drop-shadow(0 0 10px #8fe5ff)
          drop-shadow(0 0 12px #ffffff);
}

.nomeSanidade {
  font-size: 17px;
  color: #ffffff;
  font-family: arial;
}

.pn-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 43.5pc;     /* ajuste onde quiser */
  left: 9.5pc;
}

.barra-pn {
  width: 180px;
  height: 35px;
  border: 2px solid #000;
  background: #222;
}

.pn-atual {
  height: 100%;
  width: 100%;
  background: rgb(255, 170, 0);
  transition: width 0.2s ease;
  filter: drop-shadow(0 0 10px #ffd27a)
          drop-shadow(0 0 12px #ffffff);
}

.nomePN {
  font-size: 17px;
  color: #ffffff;
  font-family: arial;
}



.salvarficha {
  position: absolute;
  background-color: #ffffff;
  color: black;
  font-family: arial Inter;
  width: 120px;
  border: 6px;
  top: 7pc;
  left: 72.2pc;
  filter: drop-shadow(0 0 30px #8eecf0);
}



#lista-fichas {
  position: absolute;
  color: white;
  left: 1156px;
  top: 140px;
  font-size: 20px;
  font-family: inter;
}



.inventariotxt {
  color: white;
  font-family: arial black;
  position: relative;
  left: 50px;
}
#inventario {
  width: 240px;
  height: 200px;
  font-size: 18px;
}
.inventario {
  position: absolute;
  top: 195px;
  left: 700px;

}


.poderestxt {
  color: white;
  font-family: arial black;
  position: relative;
  left: 45px;
}
#poderes {
  width: 240px;
  height: 200px;
  font-size: 18px;
}
.poderes {
  position: absolute;
  top: 430px;
  left: 700px;

}


.carregarficha {
  background-color: white;
  font-family: arial black;
  width: 100px;
}
.apagarficha {
  background-color: white;
}
